name: Publish to PyPI

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    uses: ./.github/workflows/_build-and-publish.yml
    with:
      environment: pypi
      repository-url: https://upload.pypi.org/legacy/
    permissions:
      contents: read
      id-token: write
