name: Publish to TestPyPI

on:
  push:
    branches:
      - test
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    uses: ./.github/workflows/_build-and-publish.yml
    with:
      environment: testpypi
      repository-url: https://test.pypi.org/legacy/
    permissions:
      contents: read
      id-token: write
